extends layout 

block content
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='style.css')
    title Document
  body
    div#cart-header
    h1 Cart
    button#clear-cart-button(onclick="clearCart()") Clear cart
  div#products-container
    for product in result
        div.product-container.cart
          img.product-image(src=product.image[product.image.length - 1])
          div.title-price-container
            h3= product.title
            h3 #{product.price} kr
      else
        p finns inga produkter
  script(src="/javascripts/cart.js") 