extends layout

block content
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='style.css')
    script(src='script.js' defer='')
  body
    // Navigation bar för sidorna
    .navcontainer
      .navitem-1
        img(style='width: 150px; height: 105px;' src='/images/SoggyEats.png')
      .navitem-2
        a(href='/') Home
      .navitem-3
        a(href='/contact') Contacts
      .navitem-4
        a(href='/menu') Menu
      .navitem-5
        a(href='/myOrder') My Orders
      .navitem-6
        img(style='width:50px; height:50px;' src='/images/shoppingcart.png')
    // kroppen för varje sida
    .body
      // För första sidan
      .displaySite
        img(style='width: 300px; height: 200px;' src='/images/SoggyEats.png')
      br
      .Infobody
        //
          <img class="slideshow"  src="/images/kaopad.png">
          <img class="slideshow"  src="/images/guay.png">
          <img class="slideshow"  src="/images/padthai.png">
    // footer
    .footer
      .footitem1
        p Kontakt:
        p Gmail: Soggyeats.info@gmail.com
        p Phone number: 073492469
        img(src='/images/skull.png')
      .footitem2
        p Om oss:
        p Vi är en Mathemsida som älskar asiatisk mat,
        p Hoss oss kan du beställa massor av olika asiatiska rätter.
        p Vi levererar hem till din dörr på nolltid.
      .footitem3
        p Betalningsmetoder:
        p Mastercard
        p Visa
        p Maestro
        p Paypal
        p Swish
        p Etherium
      .footitem4
        p För kunden:
        p Registrera dig här!
        p Varukorg
        p Profil
    // fixa med blur på hemsidan
    // https://www.asiahighlights.com/southeast-asia/top-dishes
