extends layout

block content
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='style.css')
    script(src='script.js' defer='')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  body
    // Navigation bar för sidorna
    .navcontainer
      .navitem-0
        a(href='/chooseaccount')
      .dropdown
        a(href='/chooseaccount')
          img(style='width: 50px; height: 50px;' src='/images/character.png')
        .dropdown-content
          a(href='#') Profil
          a(href='#') Logga ut
      .navitem-1
        a(href='/contact') Contacts
      .navitem-2
        a(href='/') Home
      .navitem-3
        a(href='/')
          img(style='width: 150px; height: 105px;' src='/images/SoggyEats.png')
      .navitem-4
        a(href='/menu') Menu
      .navitem-5
        a(href='/myOrder') My Orders
      .navitem-6
        a(href='/cart')
          img(style='width:50px; height:50px ;' src='/images/shop.png')
    // kroppen för varje sida
    .body
      // För första sidan
      .displaySite
      // själva ifon blocket
      .info-card
        // inputs är för knapparna så man kan byta sida
        input#tap-1(type='radio' name='select' checked='')
        input#tap-2(type='radio' name='select')
        input#imgTap(type='checkbox')
        .sliders
          label.tap.tap-1(for='tap-1')
          label.tap.tap-2(for='tap-2')
        // första sidan av info blocket
        .inner-part
          label.img(for='imgTap')
            img.img-1(src='/images/padthai.png')
          .content.content-1
            .title
              | Soggy Eats
            .text
              | Vi är en Online Foodshop där du kan köpa massa soggy Asiatisk mat där vi leverar direkt till din dörr.
            button Read more
        // andra sidan av info blocket
        .inner-part
          label.img(for='imgTap')
            img.img-2(src='/images/food.png')
          .content.content-2
            .title
              | Mer info
            .text
              | Vi är även ett företag som älskar mat
    // social media knapparna, gör inget just nu men kan lägga på länkar
    .wrapper
      .icon.facebook
        .tooltip
          | Facebook
        span
          i.fab.fa-facebook-f
      .icon.twitter
        .tooltip
          | Twitter
        span
          i.fab.fa-twitter
      .icon.instagram
        .tooltip
          | Instagram
        span
          i.fab.fa-instagram
    // footer
    .footer
      .footitem1
        p Kontakt:
        p Gmail: Soggyeats.info@gmail.com
        p Phone number: 073492469
        img(src='/images/skull.png')
      .footitem2
        p Om oss:
        p Vi är en Mathemsida som älskar asiatisk mat,
        p Hoss oss kan du beställa massor av olika asiatiska rätter.
        p Vi levererar hem till din dörr på nolltid.
      .footitem3
        p Betalningsmetoder:
        p Mastercard
        p Visa
        p Maestro
        p Paypal
        p Swish
        p Etherium
      .footitem4
        p För kunden:
        a(href='contact.html') Registrera dig här!
        p Varukorg
        p Profil
    // https://www.asiahighlights.com/southeast-asia/top-dishes
