extends layout

block content
 head
 body
    form(action="/profile", method="post")
        input(type="text", placeholder="Username", name="old_username", required)
        input(type="password", placeholder="Password", name="old_password", required)
        input(type="text", placeholder="gmail", name="gmail", required)
        input(type="password", placeholder="new Password", name="password", required)           
        button(type='submit') Submit
        p= errorMsg